ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: 'Lato', sans-serif;
    text-align: end;
  }
  
  li {
    display:inline-flex;

  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
.contents{
position: fixed;
}
/* .contents{
    text-align: center;
    -webkit-text-fill-color: whitesmoke;
    display: flex;
    right: 0px;
    background-color: rgb(43, 38, 38);
    justify-content:flex-end;
    font-weight: 400;
    padding-left: 80%;
    padding-right: 5%;
   
    box-shadow: 0 2px 4px 0 rgba(50, 151, 233, 0.3);
    height: 8vh;
    font-family: 'Lato', sans-serif;
    margin-right: 0%;
}


 ul:hover{
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-weight: 450;
    transform: scale(1.2);
}*/
